/* Genel Stiller */
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  background-color: #ffffff;
  margin: 0;
}

/* Header Stilleri */
.header {
  background-color: #ffffff;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #4d5ae5;
  text-decoration: none;
  text-transform: uppercase;
}

.logo-accent {
  color: #2e2f42;
}

.nav-list {
  list-style: none;
  font-weight: 500;
}

.nav-list a {
  text-decoration: none;
  color: #2e2f42;
}

.nav-list a:hover,
.nav-list a:focus {
  color: #404bbf;
}

.contact-info {
  font-style: normal;
}

.contact-info .contact-list a {
  color: #434455;
}

.contact-info a:hover,
.contact-info a:focus {
  color: #404bbf;
}

/* Ana Bölüm */
.hero {
  background-color: #2e2f42;
  color: white;
  text-align: center;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
}

.hero-button {
  background-color: #4d5ae5;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* Özellikler Bölümü */
.feature-title {
  font-size: 20px;
  font-weight: 500;
  color: #2e2f42;
}

.feature-text {
  font-size: 16px;
  color: #434455;
}

/* Takım Bölümü */
.team {
  background-color: #f4f4fd;
  text-align: center;
}

.team-member {
  background-color: #ffffff;
  list-style: none;
}

/* Portfolio Bölümü */
.portfolio {
  text-align: center;
}

.portfolio h3{
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio p{
  letter-spacing: 0.02em;
}

.portfolio-list li {
  list-style: none;
  background-color: #ffffff;
}

/* Footer */
.footer {
  background-color: #2e2f42;
  color: white;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #4d5ae5;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-logo span{
  color:#2e2f42;
}

.footer-text {
  color: #f4f4fd;
}
