/* Genel Stiller */
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2;
  line-height: 1.5;
  color: #434455;
  background-color: #ffffff;
  margin: 0;
}

link {
  color: #434455;
}
link:hover {
  color: #4d5ae5;
}

/* Header Stilleri */
.header {
  background-color: #ffffff;
}

.nav {
  font-family: "Raleway", sans-serif;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-weight: 700;
  color: #4d5ae5;
  text-decoration: none;
}

.logo-accent {
  color: #2e2f42;
}

.nav-list {
  list-style: none;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.nav-list a {
  text-decoration: none;
  color: #2e2f42;
}
.nav-list a:hover {
  color: #404bbf;
}
.nav-list a:focus {
  color: #404bbf;
}

.contact-info {
  font-style: normal;
}
.contact-info ul li a {
  color: #434455;
}
.contact-info ul li a:hover {
  color: #404bbf;
}
.contact-info ul li a:focus {
  color: #404bbf;
}

/* Ana Bölüm */
.hero {
  background-color: #2e2f42;
  color: white;
  text-align: center;
}

.hero h1 {
  font-size: 56px;
  line-height: 60px;
  margin-bottom: 20px;
}

h1 {
  font-size: 56px;
  line-height: 60px;
}

h2 {
  font-size: 36px;
}
h3 {
  font-size: 20px;
}
.hero button {
  background-color: #4d5ae5;
  color: white;
  border: none;
  font-size: 18px;
  cursor: pointer;
  margin-left: auto;
}
.hero button:hover {
  background-color: #404bbf;
}

/* Özellikler Bölümü */
.features-container {
  grid-template-columns: repeat(4, 1fr);
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.feature {
  background: white;
  text-align: center;
}

.features h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

/* Takım Bölümü */
.team {
  background-color: #f4f4fd;
  text-align: center;
}

.team-list {
  justify-content: center;
}

.team-list li {
  background-color: #ffffff;
  list-style: none;
}

.team-list img {
  margin-bottom: 10px;
}

/* Portfolio Bölümü */
.portfolio {
  text-align: center;
}

.portfolio-list {
  grid-template-columns: repeat(3, 1fr);
}

.portfolio-list li {
  list-style: none;
  background-color: #ffffff;
}

/* Footer */
footer {
  background-color: #2e2f42;
  color: white;
}

footer .footer-logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-weight: 700;
  color: #4d5ae5;
  text-decoration: none;
}

footer .footer-logo-st {
  color: #e7e9fc;
}
footer .footer-text {
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
